<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width" />
<title>Chave</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
      <div class="container">
        <div class="panel-heading" align="center">
        <strong>Chave</strong>
        </div>
        
        <div class="panel-body">
        <form  class="form-horizotal" th:object="${chave}" th:action="@{/salvar}" method="POST" style="margin:10px">
        	<div class="form-group">
        	<fieldset>
        	   <div class="form-group row">
        	   		<label>Codigo</label>
        	   		<input type="text" class="form-control input-sm" th:field="*{codigoChave}" autofocus="autofocus" placeholder="Codigo da Chave" maxlength="50" />
        	   		
        	      </div>
        	   </div>
        	
           </fieldset>
        	
        </div>
         <div alien="center">
             <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
        	<a th:href="@{/listarChave}" class="btn btn-sm btn-default">Cancelar</a>
         </div>
       </form>
     </div>
 </div>
</body>
</html>